@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg-color: #eff7f8;
  --text-color: #000;
  --exercise-bg: #fff;
}
/* الوضع المظلم */
.dark-mode {
  --bg-color: #121212;
  --text-color: #fff;
  --exercise-bg: #1e1e1e;
}
/*general*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-family: poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  background: var(--bg-color);
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;
}
h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 1.6rem;
  /* margin-top: 25px; */
}
h2 {
  color: var(--text-color);
  text-align: center;
  font-size: 1.3rem;
}
button {
  padding: 8px 16px;
  margin: 8px 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}
/* main page */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.program-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.program-list section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--exercise-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}
.program-list section a {
  display: block;
  background: #3498db;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: background 0.3s;
  transition: font-size 0.3s;
  margin: 5px 0;
}
.program-list section a:hover {
  background: #2980b9;
  font-size: 25px;
  text-decoration: underline;
}
.search-container {
  text-align: center;
}

#searchBox {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
/* shorting page */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: var(--exercise-bg);
}
th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: #3498db;
  color: white;
}
td {
  background: var(--exercise-bg);
  color: var(--text-color);
}

/* Dark Mode */
#dark {
  cursor: pointer;
}
#toggle-dark-mode {
  border: none;
  background-color: transparent;
}

#toggle-dark-mode i {
  color: var(--icon_clr);
  font-size: 1.2rem;
}

#toggle-dark-mode i:last-child {
  display: none;
}

.dark-mode #toggle-dark-mode i:first-child {
  display: none;
}

.dark-mode #toggle-dark-mode i:last-child {
  display: block;
}
